.navbar-container {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin: 0;
    width: 100%;
}

.navlinks-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 2;
}

.logo-container {
    flex: 1;
}

ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

li {
    list-style-type: none;
}

.logo {
    width: 200px;
}

a {
    text-decoration: none;
    color: black;
    box-shadow: inset 0 0 0 0 #31302B;
    padding: 12px;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all 0.5s ease;
}

a:hover {
    box-shadow: inset 116px 0 0 0 #cc0000;
    color: #fff;
    border-radius: 5px;
}

a.active {
    box-shadow: inset 116px 0 0 0 #cc0000;
    color: #fff;
    border-radius: 5px;
}